
.react-calendar {
  width: 350px;
  max-width: 100%;
  background: #010218;
  border: none;
}
.react-calendar--doubleView {
  width: 700px;
}
.react-calendar--doubleView .react-calendar__viewContainer {
  display: flex;
  margin: -0.5em;
}
.react-calendar--doubleView .react-calendar__viewContainer > * {
  width: 50%;
  margin: 0.5em;
}
.react-calendar,
.react-calendar *,
.react-calendar *:before,
.react-calendar *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.react-calendar button {
  margin: 0;
  border: 0;
  outline: none;
}
.react-calendar button:enabled:hover {
  cursor: pointer;
}
.react-calendar__navigation {
  display: flex;
  height: 44px;
  margin-bottom: 1em;
}
.react-calendar__navigation button, span {
  min-width: 44px;
  background-color: #FF2E00 ;
  color: white;
}
.react-calendar__navigation button:disabled {
  background-color: #FF2E00 ;
}
.react-calendar__navigation button:enabled:hover,
.react-calendar__navigation button:enabled:hover span,
.react-calendar__navigation button:enabled:focus span,
.react-calendar__navigation button:enabled:focus {
  background-color: #ec2d02 ;
}
.react-calendar__century-view__decades__decade{
  color: white;
}

.react-calendar__decade-view__years__year{
  color: white;
}
.react-calendar__viewContainer,
.react-calendar__century-view,
.react-calendar__century-view__decades,
.react-calendar__decade-view__years{
  background-color: #010218;
}


.react-calendar__year-view__months__month{
  color: white;
  background-color: #010218;
}

.react-calendar__month-view__weekdays {
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 0.75em;
}
.react-calendar__month-view__weekdays__weekday {
  padding: 0.5em;
}

.react-calendar__month-view__weekdays__weekday,
.react-calendar__month-view__days,
abbr {
  background-color: #010218;
  border: none;
}

.react-calendar__month-view__weekdays__weekday abbr{
  color: #FF2E00;
  text-decoration: none;
  font-weight: 300;
}


.react-calendar__month-view__days__day{
  color: #ffffff;
}

.react-calendar__month-view__days__day--weekend {
  color: #a0442f;
}
.react-calendar__month-view__days__day--neighboringMonth {
  color: #757575;
}
.react-calendar__year-view .react-calendar__tile,
.react-calendar__decade-view .react-calendar__tile,
.react-calendar__century-view .react-calendar__tile {
  padding: 2em 0.5em;
  background-color: #010218;
}
.react-calendar__tile {
  max-width: 100%;
  padding: 10px 6.6667px;
  background: none;
  text-align: center;
  line-height: 16px;
}
.react-calendar__tile:disabled {
  background-color: #010218;
}
.react-calendar__tile:enabled:hover,
.react-calendar__tile:enabled:hover abbr,
.react-calendar__tile:enabled:focus{
  background-color: #161729;
}
.react-calendar__tile--now > abbr {
  color: white;
  border-radius: 2px;
}

.react-calendar__tile--hasActive {
  background: #76baff;
}

.react-calendar__tile--active > abbr{
  background: #1087ff;
  color: white;
  border-radius: 2px;
}
.react-calendar__tile--active:enabled:hover,
.react-calendar__tile--active:enabled:hover abbr,
.react-calendar__tile--active:enabled:focus abbr,
.react-calendar__tile--active:enabled:focus {
  background: #1087ff;
  border-radius: 2px;
}
.react-calendar--selectRange .react-calendar__tile--hover {
  background-color: #010218;
}
